API_ID=20222660
API_HASH=5788f1f4a93f2de28835a0cf1b0ebae4
BOT_TOKEN=6292600928:AAFeSba1rqfbX6gE-lBqJdL2Zxg3S26eP9k
LOGGER_ID=-1002267039087
MONGO_DB_URI=mongodb+srv://Altor:matrix7bonten@cluster0.izvyz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=6058139652
STRING_SESSION=BQE0ksQAsLbs2G-YcU7EunI83e-U1ZpM3TNt72Dv3KAxj2RhUKOuDqIBNt4RM_aBZiGbqGIZvTANE1YPbuUV4QkK1KdTNNiuxOfCLvHjwMv7RMi0YFD2P7mx-QgaNjIxWSomGPbkGpjNDnSlHYCQe8Q-HoZ7iPJTnSYiui2Kta9JJjzI5AyapneypZKgErjC4JW-u8amadN2aNm6Ec3tfeo8ty7yi5HiGId_mCYaw5CXqIod9738M0MHKQVNikpsxx561Q-ASAifH0BOZW3_BzXMEOjYW_z5y36eGqS9bvS-Cl7rnW2q6txzNBDFsguPF-_ssBpOQ14vTwRH3M0j5_6B-5KJTwAAAAHV7BGsAA
